/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* ===== DISCORD THEME VARIABLES ===== */
:root {
  --bg-main: #1e1f22;
  --bg-header: #111214;
  --bg-card: #2b2d31;

  --text-main: #f2f3f5;
  --text-muted: #b5bac1;

  --accent-blue: #5865f2;
  --accent-green: #57f287;
  --accent-yellow: #fee75c;
 
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
}

/* ВАЖНО: app-root — ГЛАВНЫЙ flex-контейнер */
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


