WebApplicationAM/.dockerignore
WebApplicationAM/.vs/
WebApplicationAM/WebApplicationAM/Dockerfile
WebApplicationAM/WebApplicationAM/WebApplicationAM.csproj.user
WebApplicationAM/WebApplicationAM/bin/
WebApplicationAM/WebApplicationAM/obj/
tournamentSite/.gitignore
tournamentSite/package-lock.json

