src/obj/
src/Backend/.vs/
src/Backend/obj/
src/Backend/Backend/bin/
src/Backend/Backend/obj/
src/Backend/Backend/BackendApi.csproj.user
src/Backend/.dockerignore
src/Backend/Backend/Dockerfile
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.


src/Frontend/Front/dist
src/Frontend/Front/tmp
src/Frontend/Front/out-tsc
src/Frontend/Front/bazel-out

src/Frontend/Front/node_modules
src/Frontend/Front/npm-debug.log
src/Frontend/Front/yarn-error.log

src/Frontend/Front/.idea/
src/Frontend/Front/.project
src/Frontend/Front/.classpath
src/Frontend/Front/.c9/
src/Frontend/Front/*.launch
src/Frontend/Front/.settings/
src/Frontend/Front/*.sublime-workspace

src/Frontend/Front/.vscode/*
src/Frontend/Front/!.vscode/settings.json
src/Frontend/Front/!.vscode/tasks.json
src/Frontend/Front/!.vscode/launch.json
src/Frontend/Front/!.vscode/extensions.json
src/Frontend/Front/.history/*

src/Frontend/Front/.angular/cache
src/Frontend/Front/.sass-cache/
src/Frontend/Front/connect.lock
src/Frontend/Front/coverage
src/Frontend/Front/libpeerconnection.log
src/Frontend/Front/testem.log
src/Frontend/Front/typings
src/Frontend/Front/__screenshots__/
src/Frontend/Front/.DS_Store
src/Frontend/Front/Thumbs.db
