body {
    background-color: var(--light-color);
    align-content: center;
    padding: 16px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    font-size: 1.8rem;
    border-radius: 16px;
    border-radius: 16px;
    padding: 40px 30px;
    width: 100%;
    max-width: 380px;
    margin-left: 40%
}
input {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background: var(--light-color);
  color: var(--dark-color);
  outline: none;
  font-size: 1rem;
  transition: background 0.3s, box-shadow 0.3s;
}

input::placeholder {
    background-color: var(--light-color);
  color: var(--dark-color);
}

input:focus {
  background: var(--light-color);
  color: var(--dark-color);
  box-shadow: 0 0 0 2px #6366f1;
}

.forgot{
    font-size: 1rem;
    color:var(--grey-color);
}

.register-form {
    font-size: 1.8rem;
    border-radius: 16px;
    border-radius: 16px;
    padding: 40px 30px;
    width: 100%;
    max-width: 380px;
    margin-left: 40%;
} 
.login {
    font-size: 1rem;
    color:var(--grey-color);
}
.register {
    font-size: 1rem;
    color:var(--grey-color);
}
